<nav class="navbar navbar-light justify-content-between shadow-sm">
  <h1 class="navbar-brand">Course Grid</h1>
</nav>

<h4><div *ngIf="loading">Loading Courses...</div></h4>

<div class="container-fluid row course-grid">
  <div class="col">
    <div class="container-fluid row">
      <!-- Course Card -->
      <div
        *ngFor="let course of courses"
        class="card bg-white col-sm-12 col-md-4 col-lg-2 m-1 p-0"
        routerLink="/course/{{ course.id }}"
        style="cursor: pointer"
      >
        <img class="card-img-top" src="https://picsum.photos/300/200?image=4" />
        <div class="card-body">
          <h5 class="card-title">{{ course.title }}</h5>
          <p>
            Created:
            {{
              course.created == null
                ? "Yesterday"
                : course.created.substr(0, 10)
            }}
          </p>
          <p>
            Modified:
            {{
              course.modified == null
                ? "Yesterday"
                : course.modified.substr(0, 10)
            }}
          </p>
          <button
            routerLink="/course/{{ course.id }}"
            class="btn btn-outline-primary container-fluid row"
          >
            View
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
